main {
    /* Photo by Marcel Strauß on Unsplash https://unsplash.com/license*/
    background-image: url("../../img/user/register.jpg");
    background-size: cover;
    display: grid;
    place-items: center center;
}

.registrationForm {
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    margin: 0 10%;
    padding: 5%;
    display: grid;
    align-items: center;
}

.registrationForm>input {
    border: 0.01rem solid #000000;
    padding: 2% 2%;
    font-size: 0.9rem;
}

.registrationForm>input[type="email"] {
    margin-bottom: 5%;
}

.registrationForm>input[type="submit"] {
    cursor: pointer;
    background-color: #00a5c4;
    color: #ffffff;
    margin: 10% 27.5% 5% 27.5%;
    transition: 0.5s;
}

.registrationForm>input[type="submit"]:active {
    transform: scale(0.98);
    background-color: #ffca2c;
}

.registrationForm>p {
    text-align: center;
    font-size: 0.8rem;
}

.registrationForm>a {
    font-size: 0.9rem;
    margin-top: 1rem;
    color: #ffffffb0;
    text-decoration: none;
    text-align: center;
}

.registrationForm>a:hover {
    color: #ffffff;
}

/* Desktop */
@media only screen and (min-width: 576px) {
    .registrationForm {
        margin: 0 35%;
    }
}
